@import "../variables/Colors";


@mixin button__round {
  padding: 10px 36px;
  border: 1px solid #FFFFFF;
  border-radius: 25px;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.2px;
  background-color: transparent;
  color: $firstColor;
}

@mixin button__square{
  padding: 15px 55px;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.2px;
  background-color:$buttonBackgroundColor;
  color: $firstColor;
}

@mixin button__square-active {
  background-color: $buttonBackgroundColor;
  border-color: $buttonBackgroundColor;
}

@mixin button__round-active {
  background-color: $buttonBackgroundColor;
  border-color: $buttonBackgroundColor;
}

@mixin displayFlex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin title-paragraph{
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: $secondColor;
  margin-top: 10px;
}
